span {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.PG-Gallery {
  display: flex;
  justify-content: center;
}

.PG-Gallery .PGG {
  font-size: clamp(30px, 10.9vw, 140px);
  color: #00a6ff;
  justify-content: center;
  margin-bottom: -20px;
}

.illust-Gallery {
  display: flex;
  justify-content: center;
}

.illust-Gallery .ILG {
  margin-top: 150px;
  margin-bottom:120px;
  font-size: clamp(30px, 10.9vw, 140px);
  color: #ff9f00;
  justify-content: center;
}


