@font-face {
  font-family: 'bananaslipplus';
  src: url("../font/bananaslipplus.otf");
}

@media only screen and (min-width: 0px) and (max-width: 1281px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {

  }

  li {

  }

  span {
    text-align: left;
  }

  body {
    font-family: bananaslipplus, sans-serif;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
  }

  .navigation {
    margin-top: 10px;
    margin-left: 10px;
    height: 250px;
    width: 80px;
    position: relative;
    background-color: #ffe877;
    z-index: 1;
    opacity: 0.7;
    border-radius: 30px;
  }

  .navigation ul {
    position: absolute;
    top: -30px;
    left: -6px;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
  }

  .navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
    top: 28px;
  }

  .navigation ul li a {
    text-decoration: none;
    color: #ff6e4d;
    width: 100%;
    display: flex;
    position: relative;
    opacity: 0.7;
  }

  .navigation ul li a .icon{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 3rem;
  }

  .Gallery-pg {
    margin-bottom: 100px;
  }

  .slider-1 {
    width: 94%;
    margin: 0 auto;
  }

  .slider-1 img{
    width: 60vw;
    height: auto;
  }

  .slider-1 .slick-slide {
    transform: scale(0.8);
    transition: all 0.5s;
    opacity: 0.5;
  }

  .slider-1 .slick-slide.slick-center {
    transform: scale(1);
    opacity: 1;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
  }

  .slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
  }

  .slick-next {
    right: -1.5%;
    transform: rotate(45deg);
  }

  .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
  }

  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }

  .slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #ccc;
  }

  .slick-dots .slick-active button{
    background: #333;
  }

  .slider-2 {
    width: 94%;
    margin: 0 auto;
  }

  .slider-2 img{
    width: 60vw;
    height: auto;
  }

  .slider-2 .slick-slide {
    transform: scale(0.8);
    transition: all 0.5s;
    opacity: 0.5;
  }

  .slider-2 .slick-slide.slick-center {
    transform: scale(1);
    opacity: 1;
  }

}

@media only screen and (min-width: 1281px) and (max-width: 5000px) {

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
    font-family: bananaslipplus, sans-serif;
    background-color: rgb(255, 255, 255);
    margin-bottom: 100px;
  }

  .navigation {
    margin-top: 10px;
    margin-left: 10px;
    height: 250px;
    width: 80px;
    position: relative;
    background-color: #ffe877;
    z-index: 1;
    opacity: 0.7;
    border-radius: 30px;
  }

  .navigation ul {
    position: absolute;
    top: -30px;
    left: -6px;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
  }

  .navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
    top: 28px;
  }

  .navigation ul li a {
    text-decoration: none;
    color: #ff6e4d;
    width: 100%;
    display: flex;
    position: relative;
    opacity: 0.7;
  }

  .navigation ul li a .icon{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 3rem;
  }

  .slider-1 {
    width: 94%;
    margin: 0 auto;
  }

  .slider-1 img{
    width: 60vw;
    height: auto;
  }

  .slider-1 .slick-slide {
    transform: scale(0.8);
    transition: all 0.5s;
    opacity: 0.5;
  }

  .slider-1 .slick-slide.slick-center {
    transform: scale(1);
    opacity: 1;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
  }

  .slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
  }

  .slick-next {
    right: -1.5%;
    transform: rotate(45deg);
  }

  .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
  }

  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }

  .slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #ccc;
  }

  .slick-dots .slick-active button{
    background: #333;
  }

  .slider-2 {
    width: 94%;
    margin: 0 auto;
  }

  .slider-2 img{
    width: 60vw;
    height: auto;
  }

  .slider-2 .slick-slide {
    transform: scale(0.8);
    transition: all 0.5s;
    opacity: 0.5;
  }

  .slider-2 .slick-slide.slick-center {
    transform: scale(1);
    opacity: 1;
  }
}
