@font-face {
  font-family: 'bananaslipplus';
  src: url("../font/bananaslipplus.otf");
}

@media only screen and (min-width: 0px) and (max-width: 1281px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {

  }

  li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }

  span {
    text-align: left;
  }

  body {
    font-family: bananaslipplus, sans-serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .navigation {
    margin-top: 10px;
    margin-left: 10px;
    height: 250px;
    width: 80px;
    position: relative;
    background-color: #ffe877;
    z-index: 1;
    opacity: 0.7;
    border-radius: 30px;
  }

  .navigation ul {
    position: absolute;
    top: -30px;
    left: -6px;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
  }

  .navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
    top: 28px;
  }

  .navigation ul li a {
    text-decoration: none;
    color: #ff6e4d;
    width: 100%;
    display: flex;
    position: relative;
    opacity: 0.7;
  }

  .navigation ul li a .icon{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 3rem;
  }

  .navigation ul li a .icona{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
    color: #ff0a0a;
  }

  .navigation ul li a .icona ion-icon {
    font-size: 3rem;
  }

  .background {
    width: 90%;
    height: auto;
    margin-left: 25px;
  }

  .home-text .ht {
    color: #ff9f00;
    display: flex;
    justify-content: center;
    font-size: clamp(30px, 15.9vw, 150px);
  }

  .copylite {
    position: absolute;
    color: #2c2c2c;
    display: flex;
    justify-content: center;
    font-size: clamp(5px, 3.9vw, 20px);
    bottom: -50%;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 5000px) {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
    font-family: bananaslipplus, sans-serif;
    background-color: rgb(255, 255, 255);
  }

  .navigation {
    margin-top: 10px;
    margin-left: 10px;
    height: 250px;
    width: 80px;
    position: relative;
    background-color: #ffe877;
    z-index: 1;
    opacity: 0.7;
    border-radius: 30px;
  }

  .navigation ul {
    position: absolute;
    top: -30px;
    left: -6px;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
  }

  .navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
    top: 28px;
  }

  .navigation ul li a {
    text-decoration: none;
    color: #ff6e4d;
    width: 100%;
    display: flex;
    position: relative;
    opacity: 0.7;
  }

  .navigation ul li a .icon{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 3rem;
  }

  .navigation ul li a .icona{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
    color: #ff0a0a;
  }

  .navigation ul li a .icona ion-icon {
    font-size: 3rem;
  }

  .background {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .home-text {
    top: -150px;
    width: 100%;
    position: relative;
    text-align: center;
  }

  .home-text .ht {
    color: #ff9f00;
    display: flex;
    justify-content: center;
    font-size: clamp(30px, 18.9vw, 150px);
  }

  .copylite {
    position: absolute;
    color: #2c2c2c;
    display: flex;
    justify-content: center;
    font-size: clamp(5px, 3.9vw, 20px);
    bottom: -50%;
    width: 100%;
    text-align: center;
  }
}
