* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(255, 243, 187);
}

.sana {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  right: 0px;
  top:230px;
  z-index: 2;
}

.sana svg {
  position: absolute;
  margin-top: 150px;
}

.sana svg path {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: 2.2s ease-in forwards 0.5s textAnimation;
}

@keyframes  textAnimation {
  0% {
    stroke-dashoffset: 1000;
  }
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.navigation {
    height: 100vh;
    width: 70px;
    position: relative;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: all 0.5s;
    z-index: 1;
}

.navigation:hover {
    width: 300px;
    opacity: 0.8;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
}

.navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.navigation ul li:hover {
    background-color: rgb(236, 249, 255);
}



.navigation ul li a {
    text-decoration: none;
    color: #ffa770;
    width: 100%;
    display: flex;
    position: relative;
}

.navigation ul li a .icon{
    display: block;
    min-width: 45px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5rem;
}

.navigation ul li a .title {
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.background1 {
  opacity: 0.1%;
  position: relative;
  width: 100px;
  right: -71px;
  height: 100vh;
  top: -1330px;
  animation: fadein-top 1s ease-out forwards;
}

.background2 {
  position: relative;
  width: 100px;
  right: -957px;
  height: 100vh;
  top: -2627px;
  animation: fadein-under 1s ease-out forwards;
}

.background3 {
  position: relative;
  width: 100px;
  right: -1825px;
  height: 100vh;
  top: -3923px;
  animation: fadein-top 1s ease-out forwards;
  opacity: 0.5;
}

@keyframes fadein-top {
  0%{
    opacity: 1;
    transform: translateY(-100px);
  }
  100%{
    opacity: 0.5;
    transform: translateY(0);
  }
}

@keyframes fadein-under {
  0%{
    opacity: 1;
    transform: translateY(100px);
  }
  100%{
    opacity: 0.5;
    transform: translateY(0);
  }
}
