@font-face {
  font-family: 'bananaslipplus';
  src: url("../font/bananaslipplus.otf");
}

/* ===============================================================================================================
  ここからスマホ表示
   =================================================================================================================*/

@media only screen and (min-width: 0px) and (max-width: 1281px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {

  }

  li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  span {
    text-align: left;
  }

  body {
    font-family: bananaslipplus, sans-serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .navigation {
    margin-top: 10px;
    margin-left: 10px;
    height: 250px;
    width: 80px;
    position: relative;
    background-color: #ffe877;
    z-index: 1;
    opacity: 0.7;
    border-radius: 30px;
  }

  .navigation ul {
    position: absolute;
    top: -30px;
    left: -6px;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
  }

  .navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
    top: 28px;
  }

  .navigation ul li a {
    text-decoration: none;
    color: #ff6e4d;
    width: 100%;
    display: flex;
    position: relative;
    opacity: 0.7;
  }

  .navigation ul li a .icon{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 3rem;
  }

  .profile-all {
    position: relative;
    text-align: center;
  }

  .profile-all .profile-text .profile{
    top: 120px;
    width: 100%;
    left: 0px;
    position: absolute;
    font-size: clamp(50px, 13.9vw, 120px);
    text-align: center;
    white-space: nowrap;
    color: #ff9f00;
  }

  .profile-all .profile-detail {
    position: absolute;
    top: 400px;
    font-size: clamp(30px, 4.9vw, 100px);
    white-space: nowrap;
    width: 100%;

  }

  .profile-all .profile-detail .main {
    display: flex;
    justify-content: center;
    color: #ffd90c;
  }

  .profile-all .profile-detail li {
    list-style: none;
  }

  .profile-all .profile-detail .Career {
    color: #ff9f00;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: clamp(30px, 6.9vw, 100px);
  }

  .profile-all .profile-detail .others {
    color: #ffd90c;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .profile-all .profile-detail .lv {
    color: #ff9f00;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: clamp(30px, 6.9vw, 100px);
  }

  .profile-all .profile-detail .ft {
    color: #ffd90c;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .profile-all .profile-detail .hobby {
    color: #ff9f00;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: clamp(30px, 6.9vw, 100px);
  }

  .profile-all .profile-detail .hb {
    color: #ffc971;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  /* プロフ内容テキストサイズ */

  .profile-all .profile-detail .main .t1 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t1-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t2 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t2-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t3 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t3-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t4 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t4-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t5 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t5-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t6 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .main .t6-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .others .t7 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .others .t7-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .others .t8 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .others .t8-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .others .t9 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .others .t9-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .others .t10 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .others .t10-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .ft .ft1 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .ft .ft1-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .ft .ft2 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .ft .ft2-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .ft .ft3 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .ft .ft3-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .ft .ft4 {
    font-size: clamp(30px, 4.9vw, 100px);
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .ft .ft4-1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .hb .hb1 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .hb .hb2 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }

  .profile-all .profile-detail .hb .hb3 {
    font-size: clamp(30px, 4.9vw, 100px);
    color: #ffc971;
    border-bottom: 2px solid;
  }
}







@media only screen and (min-width: 1281px) and (max-width: 5000px) {
  /* ===============================================================================================================
  ここからPC表示
   =================================================================================================================*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: bananaslipplus, sans-serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .navigation {
    height: 100vh;
    width: 70px;
    position: relative;
    background-color: #fffae1;
    overflow-x: hidden;
    transition: all 0.5s;
    z-index: 1;
  }

  .navigation:hover {
    width: 300px;
    opacity: 0.8;
  }

  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
  }

  .navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }

  .navigation ul li:hover {
    background-color: rgb(255, 251, 229);
  }



  .navigation ul li a {
    text-decoration: none;
    color: #ffa770;
    width: 100%;
    display: flex;
    position: relative;
  }

  .navigation ul li a .icon{
    display: block;
    min-width: 45px;
    height: 60px;
    line-height: 70px;
    text-align: center;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 1.5rem;
  }

  .navigation ul li a .title {
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
  }

  .profile-all {
    margin-left: 68px;
    display: block;
    position: relative;
  }

  .profile-all .profile-text .profile{
    width: 100%;
    top: -1200px;
    position: absolute;
    font-size: 150px;
    color: #ff9f00;
    text-align: center;
    white-space: nowrap;
  }

  .profile-all .profile-detail {
    text-align: center;
  }

  .profile-all .profile-detail .main li .t1 {
    position: absolute;
    top: -500px;
    font-size: 50px;
    width: 100%;
  }

  .profile-all .profile-detail li {
    list-style: none;
    text-align: left;
  }


  @keyframes fadein-top {
    0%{
      opacity: 0.3;
      transform: translateX(-50px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadein-under {
    0%{
      opacity: 0.3;
      transform: translateX(50px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadein-top2 {
    0%{
      opacity: 0;
      transform: translateY(-50px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadein-under2 {
    0%{
      opacity: 0;
      transform: translateY(50px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
}
