@font-face {
  font-family: 'bananaslipplus';
  src: url("../font/bananaslipplus.otf");
}

* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: bananaslipplus, sans-serif;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.navigation {
  height: 200vh;
  width: 70px;
  position: relative;
  background-color: #fffae1;
  overflow-x: hidden;
  transition: all 0.5s;
  z-index: 1;
}

.navigation:hover {
  width: 300px;
  opacity: 0.8;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 13.8px;
}

.navigation ul li {
  list-style: none;
  display: block;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.navigation ul li:hover {
  background-color: rgb(255, 251, 229);
}



.navigation ul li a {
  text-decoration: none;
  color: #ffa770;
  width: 100%;
  display: flex;
  position: relative;
}

.navigation ul li a .icon{
  display: block;
  min-width: 45px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.5rem;
}

.navigation ul li a .title {
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

/* フォントの設定をする */
.profile {
  font-size: 110px;
  position: relative;
  right: -1035px;
  top: -2460px;
  z-index: 2;
  animation: fadein-top2 0.5s ease-out forwards;
}
/* フォントの設定をする */
.profiles {
  right: -1400px;
  top: -2250px;
  z-index: 2;
  position: relative;
  font-size: 50px;
  animation: fadein-top 0.5s ease-out forwards;
}

.profiles ul {
  padding: 0;
}

.profiles ul li {
  list-style: none;
}

.icon2 {
  position: relative;
  width: 100px;
  right: -500px;
  height: 100vh;
  top: -2700px;
  animation: fadein-top 0.5s ease-out forwards;
}

@keyframes fadein-top {
  0%{
    opacity: 0.3;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein-under {
  0%{
    opacity: 0.3;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein-top2 {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-under2 {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
