@font-face {
  font-family: 'bananaslipplus';
  src: url("../font/bananaslipplus.otf");
}

@media only screen and (min-width: 0px) and (max-width: 1281px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {

  }

  li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  span {
    text-align: left;
  }

  body {
    font-family: bananaslipplus, sans-serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .navigation {
    margin-top: 10px;
    margin-left: 10px;
    height: 250px;
    width: 80px;
    position: relative;
    background-color: #ffe877;
    z-index: 1;
    opacity: 0.7;
    border-radius: 30px;
  }

  .navigation ul {
    position: absolute;
    top: -30px;
    left: -6px;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
  }

  .navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
    top: 28px;
  }

  .navigation ul li a {
    text-decoration: none;
    color: #ff6e4d;
    width: 100%;
    display: flex;
    position: relative;
    opacity: 0.7;
  }

  .navigation ul li a .icon{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 3rem;
  }

  .navigation ul li a .icona{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
    color: #ff0a0a;
  }

  .navigation ul li a .icona ion-icon {
    font-size: 3rem;
  }

  .SNS {
    position: relative;
    text-align: center;
  }

  .SNS .SNSt {
    top: 0px;
    width: 100%;
    left: 0px;
    position: absolute;
    font-size: clamp(60px, 12.9vw, 180px);
    text-align: center;
    white-space: nowrap;
    color: #ff9f00;
    margin-bottom: 100px;
  }

  .SNS-text {
    position: relative;
    color: #ff9f00;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 100px;
    font-size: clamp(30px, 6.9vw, 100px);
  }

  .SNS-text ul li .text-twitter {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(35px, 6.9vw, 100px);
    color: #3cb4ff;
    border-bottom: 2px solid;
  }

  .SNS-text ul li .text-Pixiv {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(35px, 6.9vw, 100px);
    color: #2190ff;
    border-bottom: 2px solid;
  }

  .SNS-text ul li .text-GitHub {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(35px, 6.9vw, 100px);
    color: #000000;
    border-bottom: 2px solid;
  }

}

@media only screen and (min-width: 1281px) and (max-width: 5000px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {

  }

  li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  span {
    text-align: left;
  }

  body {
    font-family: bananaslipplus, sans-serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .navigation {
    margin-top: 10px;
    margin-left: 10px;
    height: 250px;
    width: 80px;
    position: relative;
    background-color: #ffe877;
    z-index: 1;
    opacity: 0.7;
    border-radius: 30px;
  }

  .navigation ul {
    position: absolute;
    top: -30px;
    left: -6px;
    width: 100%;
    padding-top: 20px;
    padding-left: 13.8px;
  }

  .navigation ul li {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    border-radius: 15px;
    top: 28px;
  }

  .navigation ul li a {
    text-decoration: none;
    color: #ff6e4d;
    width: 100%;
    display: flex;
    position: relative;
    opacity: 0.7;
  }

  .navigation ul li a .icon{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
  }

  .navigation ul li a .icon ion-icon {
    font-size: 3rem;
  }

  .navigation ul li a .icona{
    display: block;
    min-width: 63px;
    height: 55px;
    line-height: 90px;
    text-align: center;
    color: #ff0a0a;
  }

  .navigation ul li a .icona ion-icon {
    font-size: 3rem;
  }

  .SNS {
    position: relative;
    text-align: center;
  }

  .SNS .SNSt {
    top: 0px;
    width: 100%;
    left: 0px;
    position: absolute;
    font-size: clamp(60px, 12.9vw, 180px);
    text-align: center;
    white-space: nowrap;
    color: #ff9f00;
    margin-bottom: 100px;
  }

  .SNS-text {
    position: relative;
    color: #ff9f00;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 100px;
    font-size: clamp(30px, 6.9vw, 100px);
  }

  .SNS-text ul li .text-twitter {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(35px, 6.9vw, 100px);
    color: #3cb4ff;
    border-bottom: 2px solid;
  }

  .SNS-text ul li .text-Pixiv {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(35px, 6.9vw, 100px);
    color: #2190ff;
    border-bottom: 2px solid;
  }

  .SNS-text ul li .text-GitHub {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: clamp(35px, 6.9vw, 100px);
    color: #000000;
    border-bottom: 2px solid;
  }
}
